{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Django</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css\home.css' %}">
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
    <script src="{% static 'js/main.js' %}"></script>
</head>


<body class="background">

        
   <!--      <nav class="w3-bar w3-black">
                <a href="#home" class="w3-button w3-bar-item">Início</a>
                <a href="#hobbies" class="w3-button w3-bar-item">Hobbies</a>
                <a href="#series" class="w3-button w3-bar-item">Series assistidas</a>
                <a href="#pets" class="w3-button w3-bar-item">Meus PETS</a>
                 <a href="#home" class="w3-button w3-bar-item" onclick="contato()">Contato</a>
        </nav> -->
        

        <ul class="menu">
            <li class="li"><a href="#home">Início</a></li>
            <li class="li"><a href="#hobbies">Hobbies</a></li>
            <li class="li"><a href="#series">Series assistidas</a></li>
            <li class="li"><a href="#pets">Meus PETS</a></li>
            <li class="li"><a href="#contato">Contato</a></li>
          </ul>
          <br>

        <div class="section" id="home">
            <img src="{% static 'imagens/perfil1.JFIF' %}" class="perfil">
            <h1 class="marginTop"> Olá :) <br> meu nome é <b>Daniel</b></h1>
        </div>





        <div class="parallax4"></div>

<div class="parallaxAssist" align="Center" id="hobbies">

        <h2 ><b>->Hobbies</b></h2>

        <ul class="ul">

                <li>Viajar</li>
                <li>Codar</li>
                <li>Me exercitar</li>
                <li>Mindfullness</li>
                <li>Jogar ping pong</li>
                <li>Assistir Filmes e Séries</li>
                <li>Aprender coisas novas</li>
                <li>Ler antes de dormir</li>
                <li>Conversar com amigos</li>

                </ul>
</div>


<div class="parallax2"></div>
<div class="parallaxAssist" align="Center" id="series">
        <b>-> Series Assistidas</b>

        <ul class="ul" id="Series">
            <br>
            <li>The good place</li>
            <li>Jack Ryan</li>
            <li>La casa de papel</li>
            </ul>
</div>







<div class="parallax3"></div>
<div class="parallaxAssist" align="Center" id="pets">
    <b>-> Meus PETS</b>
    <div>
        <img src="{% static 'imagens/gato1.JFIF' %}" class="imagem" alt="Gata de cor preto, grande e peludo">
        <img src="{% static 'imagens/gato2.JFIF' %}" class="imagem" alt="Gata de cor cinza, peluda e bonita (com cara de mau)">

    </div>

</div>




<div class="parallax4"></div>



<footer class="footer" id="contato"> <strong> contato: dhac@cin.ufpe.br </strong> </footer>



<!-- <h1 align="center"> Hello World !</h1>
{% for pessoa in pessoas %}
    <h2> Nome: {{ pessoa.name }}</h2>
    <p> CPF {{pessoa.cpf}} </p>
    {% if pessoa.email  %}
        <p>E-mail: {{pessoa.email}} </p>
    {% endif %}
{% endfor %}
 -->

</body>
</html>