{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Django</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css\home.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
</head>


<body class="background">

        <nav>
        <ul class="menu">
            <li class="li"><a href="#home">Início</a></li>
            <li class="li"><a href="#hobbies">Hobbies</a></li>
            <li class="li"><a href="#series">Series assistidas</a></li>
            <li class="li"><a href="#pets">Meus PETS</a></li>
            <li class="li"><a href="#contato">Contato</a></li>
          </ul>
        </nav>
          <br>

        <div class="section" id="home">
            <img src="{% static 'imagens/perfil1.JFIF' %}" class="perfil">
            <h1 class="marginTop"> Olá :) <br> meu nome é <div class="colorName">Daniel</div> </h1>
        </div>





        <div class="parallax4"></div>

<div class="parallaxAssist" align="Center" id="hobbies">

        <h2 ><b>->Hobbies</b></h2>

        <ul class="ul">

                <!-- <li>Viajar</li>
                <li>Codar</li>
                <li>Me exercitar</li>
                <li>Mindfullness</li>
                <li>Jogar ping pong</li>
                <li>Assistir Filmes e Séries</li>
                <li>Aprender coisas novas</li>
                <li>Ler antes de dormir</li>
                <li>Conversar com amigos</li> -->
                {% for pessoa in pessoas %}
                     <li> {{pessoa.hobbie}} </li>
                {% endfor %}

                </ul>
</div>


<div class="parallax2"></div>
<div class="parallaxAssist" align="Center" id="series">
        <b>-> Series Assistidas</b>

        <ul class="ul" id="Series">
            <br>
            <!-- <li>The good place</li>
            <li>Jack Ryan</li>
            <li>La casa de papel</li> -->
            {% for pessoa in pessoas %}
            <li> {{pessoa.serie}} </li>
            {% endfor %}


            </ul>
</div>







<div class="parallax3"></div>
<div class="parallaxAssist" align="Center" id="pets">
    <b>-> Meus PETS</b>
    <div class="cards">
        <img src="{% static 'imagens/lady1.jpg' %}" alt="Gata cinza">
        <img src="{% static 'imagens/pretinha3.jpg' %}" alt="Gata preta">
        <img src="{% static 'imagens/pretinha4.jpeg' %}" alt="Gata preta">
        <img src="{% static 'imagens/lady2.jpg' %}" alt="Gata cinza">
        <img src="{% static 'imagens/lady3.jpg' %}" alt="Gata cinza">
        <img src="{% static 'imagens/lady4.jpg' %}" alt="Gata cinza">
        <img src="{% static 'imagens/pretinha1.jpg' %}" alt="Gata preta">
        <img src="{% static 'imagens/pretinha2.jpg' %}" alt="Gata preta">
       

    </div>

</div>


<div class="parallax4"></div>



<footer class="footer" id="contato"> <b>contato: dhac@cin.ufpe.br</b>  </strong> </footer>



<!--  <h1 align="center"> Hello World !</h1>
{% for pessoa in pessoas %}
    <h2> Nome: {{ pessoa.serie }}</h2>
     <p> CPF {{pessoa.cpf}} </p>
    {% if pessoa.email  %}
        <p>E-mail: {{pessoa.email}} </p>
    {% endif %}
{% endfor %}
 -->

</body>
</html>